#original {
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;
    font-size: 14px;
}

#newone {
    padding: 0;
    margin: 0;
    width: 50%;
    float: right;
    font-size: 14px;
}
body {
    background: none;
}

name {
    color: #5BC0DE;
}

inswrap {
    /* background: rgba(234, 242, 194, 0.8); */
    /* color: #406619; */
    text-decoration: none;
}

delwrap {
    /* color: rgba(179, 0, 0, 0.8); */
    /* background: #fadad7; */
    text-decoration: none;
}
